body {
  font-family: var(--font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* background-image: url('../img/banner.jpg'); */
  background-color: var(--body-color);
  width: 100%;
  background-size: cover;
  /* padding-top: 110px; */
  position: relative;
  background-attachment: fixed;
  background-position: center;
  /* overflow: visible; */
  object-fit: cover;
}

.main {
  transition: 0.5s;
}

.main#blur.active-blur {
  filter: blur(20px);
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  /* background: var(--main-bg-color); */
  color: white;
  font-size: 16px;
  z-index: 9;
  border-bottom: 1px solid black;
  background-color: var(--body-color);
}

.logo {
  width: 120px;
  margin-top: 11px;
}
/* .navbar  *{
  font-size: 16px;

} */

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.nav-left {
  display: flex;
  align-items: center;
}
nav span {
  font-size: 21px;
  color: var(--main-bg-color);
}
nav ul li a {
  text-decoration: none;
  color: var(--main-bg-color);
}

nav ul li::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #333;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}

nav ul li:hover::before {
  color: #059669;
  transform: scaleX(1);
  transform-origin: left;
}

nav ul li:hover {
  color: black;
}
.nav-right {
  display: flex;
  align-items: center;
  /* padding: 0px 15px; */
  gap: 12px;
}

.search-bar {
  padding: 8px;
  border: none;
  outline: none;
  border: 1.6px solid black;
  border-radius: 50px;
  background: var(--body-color);
  color: black;
}

.search-bar::placeholder {
  color: black;
}
.search-btn {
  padding: 9px 18px;
  background: var(--body-color);
  color: black;
  border: none;
  border: 1.6px solid black;
  border-radius: 30px;
  cursor: pointer;
}

.search-bar:focus {
  outline: none;
  transition: 1s ease-in-out;
  border-bottom: 2px solid black;
}

/* search bar animated css */

.search-form {
  position: relative;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 999px;
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  padding: 0.75rem;
  margin: 0 0.5rem;
  transition: width 0.5s;
}

.search-input {
  background-color: white;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  border-radius: 999px;
  padding-left: 1rem;
  font-size: small;
  pointer-events: none;
}

.search-button {
  width: 3rem;
  height: 3rem;
  border-radius: 999px;
  background-color: #059669;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.5s;
}

.search-icon,
.search-close {
  position: absolute;
  font-size: 1.25rem;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-close {
  opacity: 0;
}

/* Active Search */

.active-search {
  max-width: 100%;
  width: 20rem;
}

.active-search .search-button {
  left: calc(100% - 2rem);
}

.active-search .search-input {
  pointer-events: initial;
}

.active-search .search-close {
  opacity: 1;
}

.active-search .search-icon {
  opacity: 0;
}

/* .dotted-arrow{
  width: 4vw;
  height: 4vh;
  position: relative;
  left: 35vw;
  top: 21vh;
} */

/* .heading-and-arrow{
  display: flex;
  flex-direction: column;
} */

.blog-list {
  z-index: 90;
  display: flex;
  width: 100%;
  margin: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* margin-top: 90px; */
  height: 50vw;
}

.blog-list h2 {
  font-size: 4.2rem;
}

.blog-list ul {
  list-style: none;
  /* margin: auto; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5vw;
}

/* .blog-list li{
  
} */

.blog {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  width: 20vw;
  height: 30vh;
  border: 1px solid black;
  padding: 9px 11px;
  overflow: hidden;
  border-radius: 20px;
}

.blog > p > a {
  text-decoration: none;
  color: black;
  font-size: large;
  font-weight: 600;
}

#heading-before-blog-cards {
  font-size: 4rem;
  /* margin: auto; */
  position: absolute;
  top: 1%;
  left: 61%;
}

:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: 0.875rem;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.container {
  margin-top: 90px;
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
  column-gap: 50px;
  margin-right: 50vw;
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
  animation: show-cards linear;
  animation-timeline: view();
}

.card__article {
  position: relative;
  /* overflow: hidden; */
}

.card__img {
  width: 328px;
  border-radius: 1.5rem;
}

.card__data {
  width: inherit;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 0.75rem;
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card__button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */

@keyframes show-cards {
  0% {
    scale: 0.2;
    /* opacity: 0; */
  }
  40% {
    scale: 1;
    opacity: 1;
  }
  50% {
    transform: translateX(25vw);
  }
  100% {
    transform: translateX(25vw);
  }
}
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: inherit;
    padding-inline: 2.5rem;
  }
}

.close {
  position: relative;
  left: 92%;
  font-size: 30px;
  cursor: pointer;
}

@media (min-width: 1344) {
  .close {
    /* position: relative; */
    left: 90px;
  }
}

.modal {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  position: fixed;
  left: 22%;
  top: 22%;
  z-index: 100;
  width: 60vw;
  height: 60vh;
  background-color: white;
  visibility: hidden;
  border-radius: 30px;
  padding: 11px 14px;
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal-content {
  /* overflow-wrap: break-word; */
  /* word-break: break-all; */
  text-overflow: clip;
  position: relative;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.modal-content > h2 {
  position: absolute;
  left: 40px;
  font-size: x-large;
}

.modal-content p{
  margin-right: 9px;
}

.modal.active-modal {
  visibility: visible;
}
